<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>如何快速的使用Vue</title>
    <!--引入Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="main">

    </div>

<script>
   var vm = new Vue({
        el:'#main',
        data:{
            message:'测试',
            list:['数据1','数据2'],
            index:2,
            isShow:false,
        },
        template:`<div>
            <h1>{{message}}</h1>
            <input v-model="message">
            <h1 v-if="isShow">hello world</h1>
            <ul>
                <li v-for="demo in list">{{demo}}</li>
            </ul>
            <button @click="addData">添加数据</button>
        </div>`,
        computed:{
       },
        methods:{
            addData(){
                this.index ++;
   this.list.push("数据"+this.index);
   }
        },
        render (h) {
            let _this = this;
            return h('div',[h('h1',this.message),h('input',{
                domProps:{
                    value:_this.message
                },
                on:{
                    input:function (event) {
                        _this.message = event.target.value;
                    }
                }
            })]);
        },
        //生命周期钩子
        beforeCreate(){

        },
        created(){

        },
        beforeMount(){

        },
        mounted(){

        },
        beforeUpdate(){

        },
        updated(){

        },
        beforeDestroy(){

        },
        destroyed(){

        }
    })
</script>
</body>
</html>
